<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Liquid{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a href="{% url 'index' %}" class="brand">
                {% if pagina.logo_do_site %}
                <img src="{{ pagina.logo_do_site.url }}" alt="Logo" class="logo">
                {% endif %}
                <span class="site-name">
                    {{ pagina.nome_do_site|default:" " }}
                </span>
            </a>
            <div class="menu">
                {% if user.is_authenticated %}
                <a><span class="user">Olá, {{ user.username }}</span></a>
                <a href="{% url 'perfil' %}">Perfil</a>
                <a href="{% url 'logout' %}" class="btn-logout">Logout</a>
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'produtos' %}">Produtos</a>
                {% else %}
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'produtos' %}">Produtos</a>
                <a href="{% url 'cadastro' %}">Cadastro</a>
                <a href="{% url 'login' %}" class="btn-login">Entrar</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% if messages %}
    <div class="messages container mt-3">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <main class="content-container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <img src="{{ pagina.logo_do_site.url }}" alt="Logo" class="logo">
            <p>&copy; 2025 - Projeto Liquid</p>
        </div>
    </footer>
</body>

</html>