{% extends 'base.html' %}
{% block title %}Compra{% endblock %}
{% block content %}
<div class="compra-container">
    <div class="compra-card">
        {% if produto.foto %}
        <div class="compra-img">
            <img src="{{ produto.foto.url }}" alt="{{ produto.nome }}">
        </div>
        {% endif %}

        <div class="compra-info">
            <h2>{{ produto.nome }}</h2>
            <p class="preco">R$ {{ produto.preco }}</p>
            <p><strong>Estoque disponível:</strong> {{ produto.estoque }}</p>

            <form method="post" class="form-card compra-form">
                {% csrf_token %}
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" min="1" max="{{ produto.estoque }}" required>

                <button type="submit" class="btn-primary">Finalizar Compra</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
